<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/resources/login.css}"/>
</head>
<body>
<div id="login-form" class="container">
            <form  action="login" method="post">
                <div class="row">
                    <div class="mx-auto">
                <label for="name">Login:</label>
                <input id="name" type="text" name="name">
                    </div>
                </div>
                        <div class="row">
                            <div class="mx-auto">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
                            </div>
                        </div>
                <div class="row">
                    <div class="mx-auto">
                <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
<div class="container">
    <div class="row">
        <div class="mx-auto" th:each="error : ${errors}">
            <p th:text="${error}" class="alert alert-danger"></p>
        </div>
    </div>
</div>
</body>
</html>