<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="fragments/commonStyle :: commonStyleFragment"></div>
</head>
<body>
<div id="login-form" class="container">
            <form  action="login" method="post">
                <div class="row">
                    <div class="mx-auto">
                <label for="name">Login:</label>
                <input id="name" type="text" name="name">
                    </div>
                </div>
                        <div class="row">
                            <div class="mx-auto">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password">
                            </div>
                        </div>
                <div class="row">
                    <div class="mx-auto">
                <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
<div th:replace="fragments/errors :: errorsFragment">
</div>
</body>
</html>