<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>

</head>
<body>
<div class="menuBar" th:replace="fragments/menu :: menuFragment">
</div>
<center>
<h2>Inventory</h2>
</center>
<div th:if="${products!= null and !products.isEmpty()}" style="margin:100px;">
<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">On hand</th>
        <th scope="col">Unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${#numbers.formatDecimal(product.amount, 0, 3)}"></td>
        <td th:text="${product.unit}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${#numbers.formatDecimal(product.totalPrice, 0, 2)}"></td>
    </tr>
    </tbody>
</table>
</div>
<div th:if="${products==null or products.isEmpty()}" style="margin:25px;">
    <center>
    <h3>Your shop has no products!</h3>
    </center>
</div>
<div th:replace="fragments/scripts :: scriptsFragment">
</div>
</body>
</html>