<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:include="fragments/commonStyle :: commonStyleFragment"></div>
</head>
<body>
<div class="menuBar" th:replace="fragments/menu :: menuFragment">
</div>
<center>
<h2>Inventory</h2>
</center>
<div style="margin:100px;">
<table class="table table-sm" id="listTable">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">On hand</th>
        <th scope="col">Unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total price</th>
    </tr>
    </thead>
    <tbody id="inventoryDataTable">
    <!--
    <tr th:each="product : ${#lists.sort(products)}">
        <td th:text="${product.getProductEntity().getName()}"></td>
        <td th:text="${#numbers.formatDecimal(product.getQuantity(), 0, 3)}"></td>
        <td th:text="${product.getProductEntity().getUnit()}"></td>
        <td th:text="${product.getProductEntity().getPrice()}"></td>
        <td th:text="${#numbers.formatDecimal(product.getProductEntity().getPrice() * product.getQuantity(), 0, 2)}"></td>
    </tr>
    -->
    </tbody>
</table>
</div>
<nav style="margin: auto">
    <ul class="pagination" id="pages">
    </ul>
</nav>
<div th:replace="fragments/errors :: errorsFragment">
</div>
<div th:replace="fragments/scripts :: scriptsFragment">
</div>

<script>
    'use strict';
    loadProducts(1);
    function loadProducts(pageNumber) {
        document.getElementById("inventoryDataTable").innerHTML="";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            let resp;
            if (this.readyState === 4 && this.status === 200) {
                resp = this.responseText;
                let data = JSON.parse(resp);
                addPages(data.pages);
                for (let ele of data.products){
                    let totalPrice = ele.productEntity.price * ele.quantity;
                    document.getElementById("inventoryDataTable").innerHTML +=
                        "<tr>\n" +
                        "        <td>"+ ele.productEntity.name +"</td>\n" +
                        "        <td>"+ ele.quantity +"</td>\n" +
                        "        <td>"+ ele.productEntity.unit +"</td>\n" +
                        "        <td>"+ ele.productEntity.price +"</td>\n" +
                        "        <td>"+ totalPrice.toFixed(2) +"</td>\n" +
                        "    </tr>"
                }
            }

        };
        xhttp.open("GET", window.location.protocol + "//" + window.location.host + "/api/products/onhand?page=" + pageNumber, true);
        xhttp.send();
    }

    function addPages(pages) {
        let nav = document.getElementById("pages");
        nav.innerHTML = "";
        for (let i = 1; i <= pages; i++){
            nav.innerHTML += "<li class=\"page-item\" onclick=\"loadProducts("+i+")\"><a class=\"page-link\">"+i+"</a></li>\n";
        }
    }
</script>
</body>
</html>