<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:include="fragments/commonStyle :: commonStyleFragment"></div>
</head>
<body>
<div class="menuBar" th:replace="fragments/menu :: menuFragment">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <h2>Quantity change</h2>
    </div>
    <form action="changeProductQuantity" method="post">
        <div class="row justify-content-md-center">
            <select name="product" required size="5" style="width:400px;margin:20px;">
                <option th:each="product : ${products}" th:text="${product.name} + ' ' + ${product.unit}"
                        th:value="${product.id}"></option>
            </select>
        </div>
        <div class="row justify-content-md-center" style="margin:20px;">
            <label for="num">Quantity</label>
            <input min="0" max="1000" step="0.001" name="quantity" id="num" type="number">
        </div>
        <div class="row justify-content-md-center" style="margin:20px;">
            <select name="operation" required>
                <option value="add">Add quantity</option>
                <option value="sub">Substract quantity</option>
                <option value="set">Set quantity</option>
            </select>
        </div>
        <div class="row justify-content-md-center">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
<div th:replace="fragments/errors :: errorsFragment">
</div>
<div th:replace="fragments/scripts :: scriptsFragment">
</div>
</body>
</html>