<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:include="fragments/commonStyle :: commonStyleFragment"></div>
</head>
<body>
<div class="menuBar" th:replace="fragments/menu :: menuFragment">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <h2>Quantity change</h2>
    </div>
    <form method="post">
        <div class="row justify-content-md-center">
            <select name="productId" required size="5" style="width:400px;margin:20px;">
                <option th:each="product : ${#lists.sort(products)}" th:text="${product.getName()} + ' ' + ${product.getUnit()}"
                        th:value="${product.getId()}"></option>
            </select>
        </div>
        <div class="row justify-content-md-center" style="margin:20px;">
            <label for="num">Quantity</label>
            <input min="0" max="1000" step="0.001" name="quantity" id="num" type="number">
        </div>
        <div class="row justify-content-md-center">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).ADD_PRODUCT_QUANTITY}" type="submit" value="Add">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).SUBSTRACT_PRODUCT_QUANTITY}" type="submit" value="Substract">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).SET_PRODUCT_QUANTITY}" type="submit" value="Set">
        </div>
    </form>
</div>
<div th:replace="fragments/errors :: errorsFragment">
</div>
<div th:replace="fragments/scripts :: scriptsFragment">
</div>
</body>
</html>