<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>StockApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:include="fragments/commonStyle :: commonStyleFragment"></div>
</head>
<body>
<div class="menuBar" th:replace="fragments/menu :: menuFragment">
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <h2>Quantity change</h2>
    </div>
    Search: <input class="row justify-content-md-center" id="search" type="text" onkeyup="loadProducts()">
    <form method="post">
        <div class="row justify-content-md-center">
            <select id="selectBox" name="productId" required size="5" style="width:400px;margin:20px;">
            </select>
        </div>
        <div class="row justify-content-md-center" style="margin:20px;">
            <label for="num">Quantity</label>
            <input min="0" max="1000" step="0.001" name="quantity" id="num" type="number">
        </div>
        <div class="row justify-content-md-center">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).ADD_PRODUCT_QUANTITY}" type="submit" value="Add">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).SUBSTRACT_PRODUCT_QUANTITY}" type="submit" value="Substract">
            <input style="margin: 10px;" th:formaction="${T(cs.stockapp.mapping.ActionsMappings).SET_PRODUCT_QUANTITY}" type="submit" value="Set">
        </div>
    </form>
</div>
<div th:replace="fragments/errors :: errorsFragment">
</div>
<div th:replace="fragments/scripts :: scriptsFragment">
</div>
<script>

    function loadProducts() {
        let phrase = document.getElementById("search").value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            let resp;
            if (this.readyState == 4 && this.status == 200) {
                resp = this.responseText;
                let data = JSON.parse(resp);
                //data = data.sort((a, b) => a-b);
                document.getElementById("selectBox").innerHTML = "";
                for (let ele of data){
                    let name = ele.name;
                    document.getElementById("selectBox").innerHTML += "<option value=" + ele.id + ">" + name + "</option>";
                }
            }

        }
        xhttp.open("GET", window.location.protocol + "//" + window.location.host + "/api/products/?phrase=" + phrase, true);
        console.log(window.location.protocol + "//" + window.location.host + "/api/products/?phrase=" + phrase);
        xhttp.send();
    }
</script>
</body>
</html>